.container.professionnelles_container {
  width: var(--container-width-lg);
  padding-bottom: 4rem;
}

.profess { 
  min-height: 300px;
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.profess__content{
    display: flex;
  flex-direction: column;
}

.profess__title {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.2rem;
    width: 80%;
    margin: 0.8rem auto 0;
}

.profess__employer{
    color: var(--color-light);
    margin: 0.8rem auto 0;
}

.profess__description {
    width: 80%;
    margin: 0.8rem auto 0;
    text-align: justify;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
  }

:root {
  --swiper-theme-color: rgba(255, 255, 255, 0.297);
}

/* AUTRE MOYEN POUR CHANGER LA COULEUR
.swiper-button-next::after, .swiper-button-prev::after {
  color: red (Mettre !important);
} */

/* REDONDANCE DE CSS AVEC diplomes POSSIBILITE
DE FAIRE 1 SEUL PAGE CSS POUR LES MEME CLASSE  */

.swiper-button-next, .swiper-button-prev {
  top: 43% !important;
}

/* ===== MEDIA QUERIES (MEDIUM DEVICES) ===== */

@media screen and (max-width: 1024px) {
  .container.professionnelles_container {
    width: var(--container-width-md);
    }
  }
  
  /* ===== MEDIA QUERIES (SMALL DEVICES) ===== */
  
  @media screen and (max-width: 600px) {
  .container.professionnelles_container {
    width: 97%;
    }

  .profess {
    padding: 1rem;
  }

  .profess__title {
     width: 98%;
  }
  
  .profess__employer{
      width: 98%;
  }
  
  .profess__description {
      width: 100%;
  }
  
    .profess__content {
      width: 100%;
    }

    .swiper-button-next {
      top: 87% !important;
      right: 25% !important;
      background-color: var(--color-bg-variant);
      border-radius: 50%;
    }

    .swiper-button-prev {
      top: 87% !important;
      left: 25% !important;
      background-color: var(--color-bg-variant);
      border-radius: 50%;
    }

    .swiper-button-prev::after, .swiper-button-next::after {
      font-size: medium !important;
    }
  }
  